<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
        .navbar{
            background-color : 	#b0c4de;
        }
        .nav-item{
            margin-left:2em;
        }
        .container{
            margin-top:10%;
            margin-bottom:10%
        }
        .col{
            border: solid 1px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <span class="navbar-brand">관리자페이지</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">사용자</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">상품</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">주문</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" style="text-align:right; flex-grow:0;">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="${loginMember?.id}">user</a>
            </li>
            <li class="nav-item" style="margin-left:0.5px;">
            <!--Todo 자바스크립트 써서 form 없이 post logout 요청                -->
                <button class="btn btn-secondary" style="font-size:10px; padding: 5px 8px; margin-top:5px;" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container text-center">
    <div class="row" style="background-color : 	#b0c4de;">
        <label class="col" th:each="colName : ${colNames}" th:text="${colName}"></label>
    </div>
    <div class="row" th:each="member : ${members}">
        <div class="col">
            <a th:href="|@{/admin/member/{id}(id=${member.id})}|" th:text="${member.id}">ID</a>
        </div>
        <div class="col">
            <label th:text="${member.password}">password</label>
        </div>
        <div class="col">
            <label th:text="${member.name}">name</label>
        </div>
        <div class="col">
            <label th:text="${member.address}">address</label>
        </div>
        <div class="col">
            <label th:text="${member.classification.getDescription()}"></label>
        </div>
    </div>
</div>
<div class="container text-center">
<!--    <div class="row" style="background-color : 	#b0c4de;">-->
<!--        <label class="col" th:each="colName : ${colNames}" th:text="${colName}"></label>-->
<!--    </div>-->
    <div class="row" th:each="item : ${items}">
        <div th:if="item.uploadFile != null" class="col">
            <img th:src="|/image/${item.getUploadFile().getStoreFileName()}|" width="300" height="300">
        </div>
        <div class="col">
            <a th:href="@{/admin/items/{id}(id=${item.id})}" th:text="${item.id}">ID</a>
        </div>
        <div class="col">
            <label th:text="${item.name}">password</label>
        </div>
        <div class="col">
            <label th:text="${item.price}">name</label>
        </div>
        <div class="col">
            <label th:text="${item.quantity}">address</label>
        </div>
        <div class="col">
            <label th:text="${item.info}">address</label>
        </div>
    </div>
    <div>
        <a href="/admin/items/new" class="btn btn-secondary" style="margin-top:5px; float:right">상품 등록</a>
    </div>
</div>
</body>
</html>